{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}

	<div class="account-pages"></div>
			<div class="clearfix"></div>
			<div class="wrapper-page">
				<div class="text-center">
					<a href="{% url 'cliente_listar' %}" class="logo"><span>Hotel<span>Soft</span></span></a>
					<h5 class="text-muted mt-0 font-600">Registro en el Hotel</h5>
				</div>
				<div class="m-t-40 card-box">
					<div class="text-center">
						<h4 class="text-uppercase font-bold mb-0">Registro</h4>
					</div>
					<div class="p-20">
						<form class="form-horizontal m-t-20" action="index.html">

							<div class="form-group ">
								<div class="col-xs-12">
									
									<input class="form-control" type="text" required="" name="username" placeholder="Nombre de usuario">
								</div>
							</div>

							<div class="form-group ">
								<div class="col-xs-12">
									
									<input class="form-control" type="text" required="" name="first_name" placeholder="Nombre">
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-12">
									
									<input class="form-control" type="text" required="" name="last_name" placeholder="Apellidos">
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-12">
									
									<input class="form-control" type="email" required="" name="email" placeholder="Email">
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-12">
									
									<input class="form-control" type="password" required="" name="password1" placeholder="Contraseña">
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-12">
									
									<input class="form-control" type="password" required="" name="password2" placeholder="Confirmar contraseña">
								</div>
							</div>


							<div class="form-group">
								<div class="col-xs-12">
									<div class="checkbox checkbox-custom">
										<input id="checkbox-signup" type="checkbox" checked="checked">
										<label for="checkbox-signup">Yo acepto <a href="#">Terminos y condiciones</a></label>
									</div>
								</div>
							</div>

							<div class="form-group text-center m-t-40 mb-0">
								<div class="col-xs-12">
									<button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
										Registrar
									</button>
								</div>
							</div>

						</form>

					</div>
				</div>
				<!-- end card-box -->

				<div class="row">
					<div class="col-sm-12 text-center">
						<p class="text-muted">Already have account?<a href="page-login.html" class="text-primary m-l-5"><b>Sign In</b></a></p>
					</div>
				</div>

			</div>
		</form>
        <!-- end wrapper page -->

{% endblock %}