{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a href="index.html" class="logo"><span>Hotel<span>Soft</span></span></a>
        
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Confirmar contraseña</h4>
        </div>
        <div class="panel-body text-center">
            <img src="images/mail_confirm.png" alt="img" class="thumb-lg m-t-20 center-block" />
            <p class="text-muted font-13 m-t-20"> Un correo a sido enviado a {{ user.get_email }}. Porfavor revise su correo electronico y haga click en el enlace. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Return to <a href="page-login.html" class="text-primary m-l-5"><b>Sign in</b></a></p>
        </div>
    </div>

</div>
<!-- end wrapper page -->

</form>
{% endblock %}