{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="index.html" class="logo"><span>Hotel<span>Soft</span></span></a>
            
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
            </div>
            <div class="p-20">
                <form class="form-horizontal m-t-20" action="index.html">
                    <h1 class="text-center">Su contraseña fue cambiada exitosamente</h1>
                </form>

            </div>
        </div>
        <!-- end card-box -->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted"><a href="{% url 'login' %}" class="text-primary m-l-5"><b>Inicia Sesion</b></a></p>
            </div>
        </div>

    </div>

{% endblock %}