{% extends 'base/base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
      <div class="p-20">
        <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group row" style="padding-right: 400px;">
          <label class="col-2 col-form-label" for="{{ form.nombre.name }}">{{ form.nombre.label }}</label>
            <div class="col-10; col-md-6 col-md-offset-2">
              {{ form.nombre }}
            </div>
        </div>
        <div class="form-group row" style="padding-right: 400px;">
          <label class="col-2 col-form-label" for="{{ form.direccion.name }}">{{ form.direccion.label }}</label>
            <div class="col-10; col-md-5 col-md-offset-2">
              {{ form.direccion }}
            </div>
        </div>
        <div class="form-group row" style="padding-right: 400px;">
          <label class="col-2 col-form-label" for="{{ form.documento.name }}">{{ form.documento.label }}</label>
            <div class="col-10; col-md-4 col-md-offset-2">
              {{ form.documento }}
            </div>
          </div>
          <div class="form-group row" style="padding-right: 400px;">
            <label class="col-2 col-form-label" for="{{ form.telefono.name }}">{{ form.telefono.label }}</label>
              <div class="col-10; col-md-4 col-md-offset-2">
                {{ form.telefono }}
              </div>
          </div>
          <div class="form-group row" style="padding-right: 400px;">
            <label class="col-2 col-form-label" for="{{ form2.nacionalidad.name }}">{{ form2.nacionalidad.label }}</label>
              <div class="col-10; col-md-4 col-md-offset-2">
                {{ form2.nacionalidad }}
              </div>
            </div>
            <div class="form-group row" style="padding-right: 400px;">
              <label class="col-2 col-form-label" for="{{ form2.pais.name }}">{{ form2.pais.label }}</label>
                <div class="col-10; col-md-4 col-md-offset-2">
                  {{ form2.pais }}
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5" style="margin: 20;">Guardar</button>
          </form>
      </div>
  </div>
</div>




{% endblock %}